{% extends 'base.html.twig' %}

{% block title %}Hello MicroBlogController!{% endblock %}

{% block body %}
    {% for article in articles %}
        <artcile>
            <h2>{{article.title}}</h2>
            <p>{{article.content}}</p>
            <p>Créé le {{article.createdAt | date('d,m,Y')}}</p>
        </artcile>
    {% endfor %}
{% endblock %}
